@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* font-family: 'DM Serif Display', serif; */

:root {
  --primary-color-1: hsl(256, 26%, 20%);
  --primary-color-2: hsl(216, 30%, 68%);
  --neutral-color-1: hsl(270, 9%, 17%);
  --neutral-color-2: hsl(273, 4%, 51%);
  --neutral-color-3: hsl(0, 0%, 98%);
  --font-family-1: 'DM Serif Display', serif;
  --font-family-2: 'Karla', sans-serif;
  --font-weight-normal: 400;
  --font-weight-strong: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  text-rendering: optimizeSpeed;
}

/* Outline */

a:focus,
button:focus {
  outline: 3px dashed var(--primary-color-2);
  outline-offset: 2px;
}

/* Similar */
.d-flex {
  display: flex;
}

.nav__list,
.footer__nav__list {
  list-style: none;
}

/* Typography */

a {
  font-family: var(--font-family-2);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--font-weight-strong);
}

.nav__btn,
.hero__btn,
.work__btn {
  border: 1px solid black;
}

h1,
h2,
h3 {
  font-style: var(--font-family-1);
}

.hero__heading,
.features__heading,
.work__heading {
  font-size: 3rem;
}

.hero__text {
  font-family: var(--font-family-2);
}

.features__sub__heading {
  font-size: 1.7rem;
}

.features__body__text {
  font-family: var(--font-family-2);
  color: var(--neutral-color-2);
}

.footer__nav__heading {
  font-family: var(--font-family-2);
  color: var(--neutral-color-2);
  text-transform: uppercase;
}

.footer__nav__link {
  color: var(--primary-color-1);
}

/* -----------------HEADER--------------------------- */

/* Button NAVIGATION */
.nav-toggle {
  border: 2px solid var(--primary-color-1);
  position: relative;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.hamburger {
  height: 3px;
  width: 80%;
  position: relative;
  background: var(--primary-color-1);
  transition: all 0.5s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background: var(--primary-color-1);
  content: '';
  transition: all 0.5s ease-in-out;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(6px);
}

.nav-toggle.open .hamburger {
  transition: all 0.5s ease-in-out;
  background: transparent;
  border: none;
}

.nav-toggle.open .hamburger::before {
  transform: rotate(135deg);
}

.nav-toggle.open .hamburger::after {
  transform: rotate(-135deg);
}

header {
  padding: 1em 1em;
}

@media screen and (min-width: 769px) {
  header {
    padding: 0;
    position: relative;
    z-index: 5;
    background: #fff;
  }
  .header__container {
    width: 80%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 1.16em 1em;
  }
}

/* Navbar */

.d-nav {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
}

@media screen and (min-width: 769px) {
  .d-nav {
    display: flex;
    justify-content: space-between;
  }
}

.top-logo {
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: start;
  align-self: center;
}

.nav-toggle {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
}

nav {
  background-color: var(--neutral-color-1);
  padding-top: 2em;
  text-align: center;
  transition: all 0.5s ease-out;
  grid-column: 1/3;
  grid-row: 2/3;
  height: 100%;
  position: absolute;
  width: 100vw;
  top: 4rem;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  background-image: url('images/bg-pattern-mobile-nav.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 10;
}

@media screen and (min-width: 769px) {
  nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding-top: 0;
    position: static;
    background-image: none;
  }
}

.hidden {
  opacity: 0;
  transition: all 0.35s ease-out;
}

.d-none {
  display: none;
}

.disable-scroll {
  overflow-y: hidden;
}

.nav__link,
.nav__btn {
  color: hsl(0, 0%, 98%);
  font-size: 1.2rem;
}

.nav__link {
  display: block;
  margin: 2em;
}

.nav__link:hover {
  color: var(--primary-color-1);
}

.nav__btn {
  padding: 0.5em;
  margin: auto;
  width: 80%;
}

.nav__btn {
  border: 2px solid var(--neutral-color-3);
  display: block;
  transition: all 0.35s ease-in;
}

.nav__btn:hover {
  background: var(--primary-color-1);
  color: var(--neutral-color-3);
}

@media screen and (min-width: 769px) {
  .nav__link,
  .nav__btn {
    display: inline-block;
    margin: 0;
    color: var(--neutral-color-2);
    white-space: nowrap;
    font-size: 0.9rem;
  }
  .nav__btn {
    color: var(--primary-color-1);
    border: 2px solid var(--primary-color-1);
    padding: 0.5rem 1.5rem;
  }
  .nav__list {
    align-self: center;
    display: flex;
    flex-direction: row;
  }
  .nav__item {
    margin-right: 2em;
  }
}

/* Hero Section */

@media screen and (min-width: 769px) {
  .hero {
    background: var(--primary-color-1);
  }
}

.hero__container {
  flex-direction: column;
}

@keyframes wipe-enter {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }
  50% {
    opacity: 0;
    transform: translateY(0);
  }
}

@media screen and (min-width: 769px) {
  .hero__container {
    height: 600px;
    flex-direction: row;
    width: 80%;
    max-width: 1110px;
    margin: 0 auto;
  }
  .hero {
    position: relative;
  }
  .hero::before {
    content: url('images/bg-pattern-intro-left-desktop.svg');
    position: absolute;
    bottom: -50%;
    left: 0;
    z-index: 2;
  }
  .hero::after {
    content: url('images/bg-pattern-intro-right-desktop.svg');
    position: absolute;
    z-index: 2;
    top: -24%;
    right: 0;
  }
}

.hero__img {
  background-image: url('images/image-intro-mobile.jpg');
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 769px) {
  .hero__img {
    order: 2;
    transform: translateY(6.25em);
    height: 40.625em;
    background-size: contain;
    max-width: 100%;
  }
}

@media screen and (min-width: 540px) {
  .hero__img {
    background-image: url('images/image-intro-desktop.jpg');
  }
}

.hero__body {
  background-color: var(--primary-color-1);
  text-align: center;
  padding: 6em 1.6em 7em;
  position: relative;
}

@media screen and (min-width: 769px) {
  .hero__body {
    text-align: left;
    position: relative;
  }
}

.hero__body::before {
  content: url('images/bg-pattern-intro-left-mobile.svg');
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.hero__body::after {
  content: url('images/bg-pattern-intro-right-mobile.svg');
  position: absolute;
  z-index: 0;
  bottom: -11em;
  right: 0;
}

@media screen and (min-width: 769px) {
  .hero__body::before,
  .hero__body::after {
    content: '';
  }
  .hero__body::before {
    position: absolute;
    top: 6em;
    left: 1.7em;
    height: 2px;
    background: #fff;
    width: 9.375em;
  }
}

.hero__heading {
  line-height: 0.9;
  margin-bottom: 0.5em;
  color: var(--neutral-color-3);
  position: relative;
}

.hero__text {
  margin-bottom: 3em;
  color: var(--neutral-color-3);
  line-height: 1.5;
}

.hero__btn {
  padding: 0.6em 1.6em;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.35s ease-in;
}

.hero__btn:hover {
  background: var(--neutral-color-3);
  color: var(--primary-color-1);
}

@media screen and (min-width: 769px) {
  .hero__heading {
    font-size: 5rem;
    margin-top: 0.7em;
  }
  .hero__text,
  .hero__btn {
    font-size: 1.1rem;
  }
}

/* Features */

.features {
  padding: 12em 0 3em;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .features {
    padding: 20em 0 3em;
    width: 80%;
    max-width: 1110px;
    margin: 0 auto;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .add-animation {
    animation: wipe-enter 2s 1;
  }
}

.features__container {
  flex-direction: column;
  padding: 0 1.1em;
}

@media screen and (min-width: 769px) {
  .features__container {
    flex-direction: row;
    text-align: left;
    padding: 0;
    justify-content: space-around;
  }
  .col.snappy-process {
    width: 33%;
  }
  .col.affordable-prices {
    width: 32%;
  }
  .col.people-first {
    width: 31%;
  }
}

.features__heading {
  color: var(--primary-color-1);
  position: relative;
  margin-bottom: 1.5em;
}

.features__heading::before {
  position: absolute;
  width: 40%;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: '';
  border: 1px solid silver;
}

@media screen and (min-width: 769px) {
  .features__heading {
    font-size: 5rem;
    text-align: left;
    margin-bottom: 1em;
  }
  .features__heading::before {
    top: -0.5em;
    left: 0;
    width: 150px;
    transform: translateX(0);
  }
}

.features__icon {
  margin-bottom: 2em;
}

.features__sub__heading {
  color: var(--primary-color-1);
  margin-bottom: 0.5em;
}

@media screen and (min-width: 769px) {
  .features__sub__heading {
    font-size: 2.1rem;
  }
}

.features__body__text {
  line-height: 1.5;
  margin-bottom: 3em;
}

@media screen and (min-width: 769px) {
  .features__body__text {
    font-size: 1rem;
  }
}

/* WORK section */
.work__container {
  position: relative;

  padding-top: 4.5em;
  text-align: center;
  margin: 1em;
  flex-direction: column;
  background-color: var(--primary-color-1);
}

@media screen and (min-width: 769px) {
  .work__container {
    width: 80%;
    max-width: 1110px;
    margin: 2em auto 9.375em;
    flex-direction: row;
    padding: 4.6em 5em;
    justify-content: space-between;
  }
}

.work__container::after {
  content: url('images/bg-pattern-how-we-work-mobile.svg');
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}

@media screen and (min-width: 769px) {
  .work__container::after {
    content: url('images/bg-pattern-how-we-work-desktop.svg');
  }
}
.work__heading {
  position: relative;
  z-index: 2;
  color: #fff;
  line-height: 0.9;
  margin-bottom: 1em;
}

@media screen and (min-width: 769px) {
  .work__heading {
    width: 50%;
    font-size: 3.5rem;
    text-align: left;
    margin-bottom: 0;
  }
}

.work__btn {
  align-self: center;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.5em 1.5em;
  margin-bottom: 3em;
  position: relative;
  z-index: 2;
  transition: all 0.35s ease-in;
}

.work__btn:hover {
  color: var(--primary-color-1);
  background: var(--neutral-color-3);
}

@media screen and (min-width: 769px) {
  .work__btn {
    margin-bottom: 0;
  }
}

/* Footer */

#footer {
  position: relative;
  background-color: hsl(0, 0%, 98%);
}

#footer::before {
  content: url('images/bg-pattern-footer-mobile.svg');
  position: absolute;
  top: 0;
}

@media screen and (min-width: 769px) {
  #footer::before {
    content: url('images/bg-pattern-footer-desktop.svg');
    position: absolute;
    top: 0;
  }
}

.footer__container-1 {
  position: relative;
  z-index: 2;
  flex-direction: column;
  padding: 5.5em 0 2em;
  border-bottom: 1px solid hsl(0, 2%, 80%);
  margin: 0 1em;
}

@media screen and (min-width: 769px) {
  .footer__container-1 {
    width: 80%;
    max-width: 1110px;
    margin: 2em auto 9.375em;
    flex-direction: row;
    padding: 3.75em 0 2.1875em;
    justify-content: space-between;
    margin-bottom: 3.125em;
  }
}

.bottom-logo,
.socials {
  align-self: center;
}

.socials {
  margin-top: 1.8em;
}

@media screen and (min-width: 769px) {
  .socials {
    margin-top: 0;
  }
}

.socials__icon {
  padding: 0 0.3em;
}

.footer__container-2 {
  text-align: center;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 769px) {
  .footer__container-2 {
    width: 80%;
    max-width: 1110px;
    margin: 0 auto;
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4em;
  }
  .footer__container-2 > .col {
    width: 20%;
  }
}

.footer__nav__heading {
  font-size: 0.9rem;
  margin: 2em;
}

@media screen and (min-width: 769px) {
  .footer__nav__heading {
    font-size: 0.9rem;
    margin: 0 0 2em;
  }
}

.footer__nav__link {
  display: block;
  margin: 1em;
}

.footer__nav__link::after {
  content: '';
  display: block;
  border: 1px solid var(--primary-color-1);
  transform: scaleX(0);
  transition: transform 0.35s ease-in;
}

.footer__nav__link:hover::after {
  transform: scaleX(1);
}

@media screen and (min-width: 769px) {
  .footer__nav__item:not(:last-child) {
    margin-bottom: 1em;
  }
  .footer__nav__link {
    display: inline-block;
    margin: 0;
  }
}

.socials__icon:hover {
  filter: brightness(30%);
}
